{{define "templates/list.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图书列表</title>
</head>
<body>
    <a href="/book_add">新增书籍</a>
    <div>
        <table border=1>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>书名</th>
                    <th>价格</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{range .data}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Title}}</td>
                    <td>{{.Price}}</td>
                    <td><a href="/book_del?id={{.ID}}">删除 | <a href="/book_edit?id={{.ID}}">编辑</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <p>{{.msg}}</p>
</body>
</html>
{{end}}